@charset "UTF-8";


*{

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

margin:0;

font-family:

Arial,

Helvetica,

sans-serif;


background:

radial-gradient(
circle at top,
rgba(56,217,255,0.18),
transparent 35%
),

linear-gradient(
135deg,
#030712,
#0b1025
);


color:white;

overflow-x:hidden;

}





header{


height:100px;


display:flex;


align-items:center;


justify-content:space-between;


padding:20px 8%;


}





.logo{


width:200px;


filter:

drop-shadow(
0 0 20px
rgba(56,217,255,.35)
);


}





nav a{


color:white;


text-decoration:none;


margin-left:40px;


font-size:16px;


opacity:.75;


transition:.3s;


}



nav a:hover{


color:#38d9ff;


opacity:1;


}







.hero{


min-height:85vh;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


text-align:center;


padding:40px;


}





.hero h1{


font-size:76px;


line-height:1.1;


letter-spacing:-2px;


margin:0 0 30px;


background:


linear-gradient(

90deg,

#38d9ff,

#ffffff,

#7b61ff

);



-webkit-background-clip:text;


background-clip:text;


color:transparent;



}







.hero p{


font-size:23px;


max-width:700px;


line-height:1.6;


opacity:.75;


}








.button{


display:inline-block;


margin-top:35px;


padding:16px 45px;


border-radius:50px;


background:


linear-gradient(

90deg,

#38d9ff,

#7b61ff

);



color:white;


text-decoration:none;


font-weight:bold;


box-shadow:


0 0 35px

rgba(56,217,255,.35);



transition:.3s;


}





.button:hover{


transform:translateY(-5px);


}





section{


padding:

100px 8%;


text-align:center;


}





h2{


font-size:48px;


margin-bottom:60px;


}





.cards{


display:flex;


gap:35px;


justify-content:center;


flex-wrap:wrap;


}





.card{


width:350px;


min-height:430px;


padding:30px;


border-radius:30px;



background:


linear-gradient(

145deg,

rgba(255,255,255,.12),

rgba(255,255,255,.03)

);



border:

1px solid

rgba(255,255,255,.18);



backdrop-filter:

blur(15px);



transition:.4s;



overflow:hidden;


}





.card:hover{


transform:

translateY(-15px);



border-color:#38d9ff;



box-shadow:


0 20px 60px

rgba(56,217,255,.18);


}







.project-image{


width:100%;


height:190px;


object-fit:cover;


border-radius:20px;


margin-bottom:25px;



transition:.4s;



filter:

brightness(.9);


}





.card:hover .project-image{


transform:

scale(1.05);



filter:

brightness(1.1);


}







.card h3{


font-size:30px;


margin:15px 0 20px;


}





.card p{


font-size:17px;


line-height:1.8;


opacity:.75;


}





.card a{


display:inline-block;


margin-top:25px;


color:#38d9ff;


text-decoration:none;


font-weight:bold;


}





.card a:hover{


color:white;


}





#contact{


padding-top:120px;


padding-bottom:120px;


}





footer{


text-align:center;


padding:50px;


opacity:.5;


font-size:14px;


}






@media(max-width:900px){



header{


padding:20px 5%;


}



.logo{


width:150px;


}



.hero h1{


font-size:45px;


}



.hero p{


font-size:18px;


}



h2{


font-size:36px;


}



.card{


width:100%;


max-width:360px;


}



nav a{


margin-left:15px;


font-size:14px;


}



}